h1, h3, h4, h5 {
  color:#21295c;
}

.navigation {
  width: 100%;
  position: relative;
  min-height: 60px;
  z-index:1000;
}

#navbarNav{
  justify-content: flex-end;
}

.navbar-brand{
  color: #2299aa !important; 
}

.navbar-light, .navbar-nav, .nav-link{
  color: #333333;
  font-weight: 600;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

/* buttons */
.btn{
  background-color:#2299aa !important ;
  border-radius: 2rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  color: #ffffff !important;
  border: none;
}

/* Need to fix my profile photo border */
.me {
  border: 5px solid #097a8b;
  border-width: 10%;
  border-radius: 50%;
}

.resume {
  border: 5px solid #097a8b;
}
/* banner */
.banner, #my-works{
  /* width: 100%; */
  background-color: #dbc2cf
  /* background-color: whcfite; */

}

ul, li {
  list-style: none;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
  

.about-me {
  margin-top: 5%;

}

.about-me-more {
  font-weight: bold;
  font-size: 1.5rem;
}

.my-links {
  margin-top:2% ;
}

#my-projects {
  /* background-color: #1c7293; */
  background-color: #9fa2b2;
}


.socials {
  background-color: #9fa2b2;
}
/* .social-area {
  background-color: #eae7dc;
} */